body {
    background-color: #f2f2f2;
}

.loan-navigation {
    position: relative;
}

.loan-navigation .nav-title {
    margin-left: 0.5rem;
}

.loan-navigation .nav-title span {
    background-image: linear-gradient(90deg,#d2232a,#ff643e);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    color: #d2232a;
}

.back-to-home {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.5rem;
    height: 3.5rem;
    top: -0.85rem;
    left: -4.25rem;
    border-radius: 50%;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.15);
    background-color: #fff;
}

.submit-btn-container {
    width: 90%;
    text-align: right;
}

.loan-submit:disabled {
    color: #c9ced6;
    background: #8f939c;
}

.loan-submit {
    padding: 0.75rem 1.5rem;
    border: 0;
    color: #fff;
    background: #33a0e8;
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.19);
}

/* ============= Loan Images Style ================== */
.loan-item {
    box-shadow: 0 2px 4px 0 #c9ced6;
    width: 90%;
    margin: 0 auto;
    padding: 1.5rem 2.5rem;
    background-color: #fff;
}

.loan-images-container {
    width: 50%;
    margin: 3rem auto;
}

.loan-images {
    display: inline-block;
    padding: 0 1.5rem .6rem 0;
}

.loan-cover {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #f57224;
    padding: 0 6px;
    color: #fff;
    border-radius: 0 0 6px 0;
    font-size: 16px;
}

.loan-thumb {
    color: #b3b3b3;
    border-radius: 4px;
    width: 100%;
    cursor: pointer;
    padding-top: 100%; /* 1:1 Aspect Ratio */
    position: relative; /* If you want text inside of it */
}

.loan-thumb-content {
    position:  absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    color: #8f939c;
    border-radius: 4px;
    background-color: #f5f5f5
}

.loan-thumb-content img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.del-loan-images {
    position: absolute;
    top: 6px;
    right: 6px;
    background-color: rgba(0,0,0,.3);
    border-color: #bfbfbf;
    color: #fff;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    padding: 6px 1em;
    font-size: 16px;
    border-radius: 4px;
}

/* ============= End of Loan Images Style ================== */