/****** LOGIN MODAL ******/
.loginmodal-container,
.registermodal-container {
  padding: 30px;
  width: 100% !important;
  border-radius: 2px;
  overflow: hidden;
  font-family: roboto;
}

.loginmodal-container h1,
.registermodal-container h1 {
  text-align: center;
  font-size: 1.8em;
  font-family: roboto;
}

.loginmodal-container input[type='text'],
.registermodal-container input[type='text'],
input[type='password'] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  border-radius: 5px;
}

form {
  width: 100%;
}

.loginmodal-container input[type='text']:hover,
.registermodal-container input[type='text']:hover,
input[type='password']:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.loginmodal,
.registermodal {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
  /* border-radius: 3px; */
  -webkit-user-select: none;
  user-select: none;
}

.loginmodal-container input[type='submit'],
.registermodal-container input[type='submit'] {
  width: 100%;
  height: 44px;
  margin-bottom: 10px;
  position: relative;
  border-radius: 5px;
}

.loginmodal-submit,
.registermodal-submit {
  border: 0px;
  color: #fff;
  background-color: #4d90fe;
  font-family: roboto;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginmodal-submit:hover,
.registermodal-submit:hover {
  border: 0px;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  background-color: #357ae8;
}

.loginmodal-container a,
.registermodal-container a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
}

.login-help {
  font-size: 12px;
}

.hidden {
    display: none;
}

.nav-pills .nav-link.active,
.nav-pills > .nav-link {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  background-color: #f57224;
}

.nav-pills .show>.nav-link {
  background-color: transparent;
}

.header {
  background-color: white;
}
.input-group-append {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.btn-outline-secondary {
  border: 1px solid #ced4da;
}
.searchbar-input-addon {
  position: relative;

}
.searchbar-select-icon {
  z-index: 100;
  right: 1em;
  top: 14px;
  font-size: 12px;
  position: absolute;
}
#dropdown, #dropdown:focus {
  border-radius: 3px 0 0 3px;
  -webkit-appearance: none;
  transition: none;
  box-shadow: none;
  padding-right: 1.5rem;
}

#searchbar:hover, #searchbar:focus {
  border-color:#2196F3;
  transition: none;
  box-shadow: none;
}

.disabled {
  pointer-events: none;
  cursor: default;
}